#imagebox img{
	width: 100%; 
	height: auto; 
	bottom: 0px;
	position: absolute; 
	/*overflow: hidden;*/
	z-index: 0;
}

#car {
	width: 100%; 
	height: auto; 
	position:absolute;
	z-index:2;
}
#map {
	top: 70%;
	left: 40%;
	max-height: 30%;
	min-width: 35%;
	max-width: 35%;
	height: 100%;
	position: absolute;
	z-index: 1;
	transform: rotate(355deg);
    -webkit-transform: rotate(355deg);
    -o-transform: rotate(355deg); 
    -moz-transform: rotate(355deg);
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.regenerate {
/*	font-size:50px;*/
	border-radius: 50%;
	border: none;
	padding: 20% 25%;
	display: inline-block;
	margin: 27% -10%;
	background-color: rgba(0,0,0,0);
    /*border: 2px solid #555555;*/
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    z-index: 3;
    overflow:hidden;
}

.regenerate:hover {
	background-color: rgba(0,0,0,0.4);
}
#welcome{
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	background-color: rgba(186, 243, 255,0.8);
	border-radius: 50%;
	border: none;
	padding: 2% 4%;
	/*display: inline-block;*/
	margin: 20% 82%;
    position: absolute;
    z-index: 5;
    overflow:hidden;
}
